name: Build Windows EXE

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install blinker==1.7.0
        pip install blobconverter==1.2.8
        pip install boto3==1.17.39
        pip install botocore==1.20.112
        pip install certifi==2023.11.17
        pip install charset-normalizer==3.3.2
        pip install click==8.1.7
        pip install dai==0.3.75
        pip install depthai==2.24.0.0
        pip install dnspython==2.4.2
        pip install Flask==3.0.0
        pip install idna==3.6
        pip install importlib-metadata==7.0.0
        pip install itsdangerous==2.1.2
        pip install Jinja2==3.1.2
        pip install jmespath==0.10.0
        pip install MarkupSafe==2.1.3
        pip install meteor-ejson==1.1.0
        pip install numpy==1.26.2
        pip install opencv-python==4.8.1.78
        pip install pyee==11.1.0
        pip install pymongo==4.6.1
        pip install python-dateutil==2.8.2
        pip install python-ddp==0.1.5
        pip install PyYAML==6.0.1
        pip install requests==2.31.0
        pip install s3transfer==0.3.7
        pip install sh==2.0.6
        pip install six==1.16.0
        pip install typing_extensions==4.9.0
        pip install urllib3==1.26.18
        pip install uwsgi==2.0.24
        pip install Werkzeug==3.0.1
        pip install ws4py==0.5.1
        pip install zipp==3.17.0
        

    - name: Build EXE
      run: |
        pyinstaller --onefile main.py

    - name: Upload EXE as artifact
      uses: actions/upload-artifact@v4
      with:
        name: built-executable
        path: dist/main.exe
